---
import PageLayout from "@/layouts/Base";

const meta = {
	title: "Oops! You found a missing page!",
	description: "Oops! It looks like this page is lost in space!",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-6">404 | Coś poszło nie tak</h1>
	<p class="mb-8">Proszę użyć nawigacji aby wrócić.</p>
	<div class="my-4 justify-center h-96 mx-auto">
		<span
      class="custom-image not-found"
		/>
	</div>
</PageLayout>
