---
import { Image } from "astro:assets";
import PageLayout from "@/layouts/Base";
import ImagesSection from "@/components/ImagesSection";

const meta = {
	title: "O budynku",
	description: "...",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title mb-6">O budynku</h1>
		<b>Odkryj Idealne Biura na Praw Kobiet 4!</b>
		<p>
			Czy jesteś zmęczony pracą z domu lub szukasz idealnego biura? Nie szukaj dłużej! Na Praw
			Kobiet 4 oferujemy luksusowe przestrzenie biurowe dostosowane do Twoich profesjonalnych
			potrzeb.
		</p>
		<p>
			Gotowy, by podnieść swoje doświadczenia w pracy? Skontaktuj się z nami już dziś przechodząc do
			zakładki <a href="/kontakt" rel="prefetch" class="font-semibold sm:hover:text-link">kontakt</a
			>, aby już jutro podnieś swój poziom pracy z Altemą - Tam, gdzie sukces się zaczyna!
		</p>
	</div>
	<ImagesSection />
</PageLayout>
