---
import LocationMap from "@/components/LocationMap";
import PageLayout from "@/layouts/Base";
---

<PageLayout meta={{ title: "Altema" }}>
	<section class="mb-6">
		<h1 class="title mb-6">Przestrzenie biurowe dla ciebie.</h1>
		<p>
			Witamy w naszym nowoczesnym kompleksie biurowym, który oferuje wynajem komfortowych i
			nowoczesnych biur. Nasza nieruchomość to idealne rozwiązanie dla firm poszukujących
			przestrzeni biurowej o wysokim standardzie. Zlokalizowany w dogodnej lokalizacji, nasz budynek
			zapewnia wygodę i funkcjonalność, aby sprostać potrzebom każdej firmy. Zapraszamy do kontaktu
			w celu zapoznania się z naszą ofertą i możliwościami, jakie nasza nieruchomość ma do
			zaoferowania.
		</p>
	</section>
	<LocationMap />
</PageLayout>
