---
import { Image } from "astro:assets";
import PageLayout from "@/layouts/Base";
import security from "@/assets/security.svg";
import price from "@/assets/price.svg";
import wifi from "@/assets/wifi.svg";
import travel from "@/assets/travel.svg";
const buildingInfo = [
	{
		image: security,
		description:
			"Parking oraz biurowiec jest zabezpiecozny i monitorowany przez 24 godziny na dobę, dzięki czemu możesz skupić się na tym, co najważniejsze - swojej pracy.",
		imageOrderClass: "order-1",
	},
	{
		image: price,
		description:
			"Oferujemy bardzo przystępne i konkurencyjne ceny względem inncyh biurowców znajdujących się w Białymstoku dzięki czemu wiesz, że nie przepłacasz za współpracę z nami.",
		imageOrderClass: "order-2",
	},
	{
		image: travel,
		description:
			"Nasz budynek jest strategicznie położony na obrzeżach miasta, pozostając w zasięgu kilku minut od centrum miasta zapewniając łatwy dostęp zarówno dla Ciebie, jak i Twoich klientów.",
		imageOrderClass: "order-1",
	},
	{
		image: wifi,
		description:
			"Ciesz się nowoczesnymi udogodnieniami, szybkim internetem i prywatnymi magazynami, które zwiększą Twoją produktywność.",
		imageOrderClass: "order-2",
	},
];
---

<PageLayout meta={{ title: "Altema" }}>
	<section class="mb-6">
		<h1 class="title mb-6">Przestrzenie biurowe dla ciebie.</h1>
		<p>
			Witamy w naszym nowoczesnym kompleksie biurowym, który oferuje wynajem komfortowych i
			nowoczesnych biur. Nasza nieruchomość to idealne rozwiązanie dla firm poszukujących
			przestrzeni biurowej o wysokim standardzie. Zlokalizowany w dogodnej lokalizacji, nasz budynek
			zapewnia wygodę i funkcjonalność, aby sprostać potrzebom każdej firmy. Zapraszamy do kontaktu
			w celu zapoznania się z naszą ofertą i możliwościami, jakie nasza nieruchomość ma do
			zaoferowania.
		</p>
		{
			buildingInfo.map(({ image, description, imageOrderClass }) => (
				<div class="my-16 flex h-40 items-center gap-8">
					<Image
						src={image}
						alt="Bezpieczeństwo"
						class={`h-full w-1/2 ${imageOrderClass}`}
						loading="eager"
						fetchpriority="high"
					/>
					<p class="order-1 w-1/2">{description}</p>
				</div>
			))
		}
	</section>
</PageLayout>
